# General
**/.git
**/.env
**/venv/
**/.venv/
**/node_modules/
**/dist/
**/build/
**/*.log
**/tmp/

**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/
**/htmlcov/
**/.coverage
**/site/

**/node_modules/
**/.cache/
**/npm-debug.log*
**/.vscode/
**/cypress/
**/coverage/
