aio-pika
alembic
asyncpg
authlib
bcrypt
click
debugpy
fastapi
fastapi-pagination
httpx
httptools
itsdangerous
Jinja2
passlib
pika
pip
psycopg2-binary
pydantic
pydantic[email]
pydantic-settings
pytest
pytest-asyncio
python-dotenv
PyJWT
PyYAML
redis
requests
SQLAlchemy
starlette
stripe
tenacity
tiktoken
uvicorn
uvloop
websockets
